.m-detail {
    position: relative;
    .m-topbar {
        position: absolute;
        top: 0;
        right: 0;
    }
    .m-list {
        .label {
            width: 120px;
            color: #999;
            text-align: right;
            line-height: 36px;
        }
    }
}
