.m-detail {
    .topbar {
        margin-top: -40px;
    }
    .list {
        .label {
            width: 120px;
            color: #666;
            text-align: right;
            line-height: 36px;
        }
    }
}
