.m-interface {
    .m-content {
        align-items: baseline;
    }
    .m-side {
        width: 280px;
        overflow-y: scroll;
    }
    .el-tree-node__content {
        .opts {
            opacity: 0;
        }
        &:hover .opts {
            opacity: 1;
        }
        .treename {
            display: inline-block;
            width: 180px;
        }
    }
}
